@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
}



.header {
    background-color: rgb(161, 159, 159);
    padding-bottom: 15px;

}



.balance {
    color: white;
    text-align: center;
    padding: 30px;
    padding-bottom: 10px;
}

.total {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tituloSaldos {
    text-align: end;
    display: flex;
    width: 400px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

#form input,
select {
    width: 200px;
    height: 50px;
}

.egresos {
    background-color: rgba(255, 0, 0, 0.719);
    color: white;
    padding: 15px;
}

.ingresos {
    background-color: rgba(10, 184, 10, 0.726);
    color: white;
    padding: 15px;
}

.transacciones {
    text-align: center;
    background-color: rgba(230, 230, 230, 0.993);
    padding: 20px;

}

.balanceTotal {
    color: white;
}

.columnaTransaccion input {
    margin-left: 10px;
}

.contenedorTitulos {
    margin-top: 50px;
}

input,
select {
    border: 2px solid grey;
    border-radius: 10px;
}

input:focus,
select:focus {
    box-shadow: 0 0 20px grey;
    transition: all .5s ease;
}

#ingresar {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    align-self: center;
}

#ingresar:hover {
    transform: scale(1.10);
    transition: all .5s ease;
}

#deleteItem:hover {
    transform: scale(1.10);
    transition: all .5s ease;
}

.titulos {
    text-align: center;
    border: 2px solid grey;
    margin: 10px;

}


img {
    width: 20px;
    height: 20px;
    align-self: center;
}

#main {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 30%);
    grid-template-areas: "ingreso egreso" "itemIngresos itemEgresos";
    justify-content: center;
    margin-top: 30px;
    grid-column-gap: 20px;
}

.ingreso {
    grid-area: ingreso;
    text-align: center;
    color: rgba(6, 129, 6, 0.596);
}

.egreso {
    text-align: center;
    grid-area: egreso;
    color: rgba(161, 7, 7, 0.747);
}

#itemsIngresos {
    grid-area: itemIngresos;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

#itemsIngresos td,
#itemsIngresos th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}



#itemsIngresos tr:hover {
    background-color: rgba(230, 230, 230, 0.993);
    transition: all .5s ease;
}

#itemsIngresos th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}

td {
    height: 15px;
    align-self: flex-start;
}


#itemsEgresos {
    grid-area: itemEgresos;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

#itemsEgresos td,
#itemsEgresos th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}



#itemsEgresos tr:hover {
    background-color: rgba(230, 230, 230, 0.993);
    transition: all .5s ease;

}

#itemsEgresos th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}