.balance{
    background-color: rgb(17, 17, 46);
    color: white;
    text-align: center;
    padding: 30px;
}

.totales{
    background-color: rgb(17, 17, 46);
    color: white;
}

.tituloSaldos{
 text-align: end;
}

.transacciones{
    margin-top: 50px;
    text-align: center;
}

.balanceTotal{
    color: white;
}

.columnaTransaccion input{
    margin-left: 10px;
}

.contenedorTitulos{
    margin-top: 50px;
}

input, select{
    border: 2px solid grey; 
    border-radius: 10px   
    
}

.titulos{
    text-align: center;
    border: 2px solid grey;    
    margin: 10px;
   
}


img{
    width: 20px;
    height: 20px;
    align-self: center;
}

#main{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 30%);
    grid-template-areas: "ingreso egreso" "itemIngresos itemEgresos";
    justify-content: center;
    margin-top: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}

.ingreso{
    grid-area: ingreso;
    text-align: center;
}

.egreso{
    text-align: center;
    grid-area: egreso;
}

#itemsIngresos {
    grid-area: itemIngresos;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#itemsIngresos td, #itemsIngresos th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}



#itemsIngresos tr:hover {
}

#itemsIngresos th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}


#itemsEgresos {
    grid-area: itemEgresos;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
}

#itemsEgresos td, #itemsEgresos th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}



#itemsEgresos tr:hover {
}

#itemsEgresos th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}